body {
    overflow-y: scroll;
    background: #6da336;
}

.navbar {
    background-color: #6da336;
}

.card {
    border-color: #bbb;
}

.badge-demo {
    background-color: #ab4642;
    color: #212529;
}

.badge-diskussion {
    background-color: #dc9656;
    color: #212529;
}

.badge-sonstiges {
    background-color: #f7ca88;
    color: #212529;
}

.badge-tauschen {
    background-color: #a1b56c;
    color: #212529;
}

.badge-treffen {
    background-color: #86c1b9;
    color: #212529;
}

.badge-vortrag {
    background-color: #7cafc2;
    color: #212529;
}

.badge-workshop {
    background-color: #ba8baf;
    color: #212529;
}