# ignore node dependency directories
node_modules/

# ignore composer dependency directories
vendor/
.vscode/settings.json

# ignore adjusted copies of hosts_example
ansible/hosts
ansible/hosts_myinstance

# ignore failed playbook runs
/ansible/*.retry

# ignore command output
nohup.out
