/* Web fonts */

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebasneue-thin-webfont.woff2') format('woff2'),
       url('../fonts/bebasneue-thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebasneue-light-webfont.woff2') format('woff2'),
       url('../fonts/bebasneue-light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebasneue-book-webfont.woff2') format('woff2'),
       url('../fonts/bebasneue-book-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
       url('../fonts/bebasneue-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebasneue-bold-webfont.woff2') format('woff2'),
       url('../fonts/bebasneue-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Droid Serif';
  src: url('../fonts/DroidSerif-Regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Box sizing rules */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

:root {
  --green: #5ea318;
  --white: #fff;
  --background: #f1f1f1;
  --lightgray: #ddd;
  --mediumgray: #c3c3c3;
  --darkgray: #333;
  --foreground: #181818;
}

/* Set core body defaults */

body {
  min-width: 350px;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-y: scroll;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin: 10px 0;
}

a {
  color: var(--green);
  text-decoration: none;
  display: inline-block;
}

a:hover, a:focus {
  color: var(--foreground);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue';
  letter-spacing: 1px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px 20px;
}

input, textarea, select, button {
  width: 100%;
  padding: 10px;
  font-family: 'Droid Serif';
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  border: 1px solid var(--lightgray);
  background: var(--white);
}

input:focus {
  outline: none !important;
  border: 1px solid var(--green);
}

input:disabled {
  background: var(--lightgray);
}

button {
  background: var(--green);
  color: var(--white);
  border: none;
  cursor: pointer;
}

button:hover, button:focus {
  background: var(--darkgray);
}

textarea {
  resize: vertical;
}

option:checked {
  background: var(--green);
}

label, button {
  font-weight: 700;
  font-family: 'Bebas Neue';
  font-size: 18px;
  letter-spacing: 1px;
  display: inline-block;
}

button img {
  margin: 0 auto;
}

.formgroup {
  display: flex;
}

.formgroup .row {
  display: flex;
  align-items: center;
  flex: 1;
}

.formgroup .row:first-child {
  margin-right: 15px;
}

.formgroup label, .formgroup input, .formgroup button {
  margin-right: 10px;
}

.formgroup label {
  flex: 1 1 40px;
}

.formgroup label:last-child,
.formgroup input:last-child,
.formgroup button:last-child {
  margin-right: 0;
}

.formgroup input[type="checkbox"] {
  flex-basis: 20px;
  margin: 7px 5px 1px 0;
  align-self: flex-start;
}

/* Main document */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Droid Serif';
  font-size: 14px;
  line-height: 1.5;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

main {
  margin-top: 50px;
  padding: 60px 50px;
  background: var(--white);
  display: flex;
}

main > form, main > section, main > article {
  flex: 2;
  margin-right: 50px;
}

.note {
  flex: 1;
  margin-bottom: 50px;
}

/* Header and main navigation */

header {
  background: var(--white);
  border-top: 15px solid var(--green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bebas Neue';
  letter-spacing: 1px;
}

header .logo {
  margin: 25px;
  flex: none;
}

header .logo a {
  display: block;
}

header .logo img {
  height: 75px;
}

header nav {
  display: flex;
  font-size: 24px;
}

header nav .item {
  margin-right: 40px;
  text-align: center;
}

/* Sub navigation */

aside nav {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Bebas Neue';
  letter-spacing: 1px;
}

aside nav .item {
  flex: 1 1 110px;
  background: var(--lightgray);
  border-right: 1px solid var(--white);
  border-top: 1px solid var(--white);
  white-space: nowrap;
}

aside nav .item:last-child {
  border-right: none;
}

aside nav a {
  line-height: 50px;
  width: 100%;
  padding: 0 15px;
  color: var(--darkgray);
  text-align: center;
}

aside nav a:hover, aside nav a:focus {
  background: var(--mediumgray);
}

/* Explore page */

.explore {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 10px 0 10px;
}

.explore article {
  margin: 0;
  flex: unset;
  padding: 30px 50px 30px 50px;
  width: calc(100% / 3);
}

.explore article::before {
  display: block;
  width: 30%;
  height: 5px;
  background-color: var(--green);
  content: '';
  position: relative;
  top: -15px;
  left: -15px;
  z-index: 200;
}

.explore article .image {
  position: relative;
  top: -30px;
  z-index: 100;
  overflow: hidden;
  height: 0;
  padding-top: 56.25%;
  background-size: cover;
}

.explore article .image a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.explore article .meta {
  margin: 20px 0;
}

.explore article .description {
  margin: 20px 0;
}

.explore article .description .details {
  margin-top: 20px;
  text-align: left;
}

.explore article .description .details:before {
  content: '→ ';
}

/* Calendar */

.calendar table {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Bebas Neue';
  letter-spacing: 1px;
}

.calendar table tr.weekend {
  color: var(--green);
}

.calendar table tr.today td {
  color: var(--white);
  background: var(--green);
}

.calendar table tr.today td:first-child {
  background: transparent;
}

.calendar table tr.today a {
  color: var(--white);
}

.calendar table tr.today a:hover, .calendar table tr.today a:focus {
  color: var(--foreground);
}

.calendar table td {
  padding: 10px 20px;
  border-bottom: 1px solid var(--lightgray);
  text-align: right;
}

.calendar table td:first-child {
  border: none;
  text-align: left;
  position: sticky;
  top: 0;
}

.calendar table td:first-child a {
  display: block;
  background: var(--white);
}

.calendar table td:last-child {
  text-align: left;
}

.calendar table td article + article {
  margin-top: 10px;
}

.calendar table td article .meta {
  color: var(--foreground);
  font-family: 'Droid Serif';
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
}

/* Add event */

.addevent {
  flex-direction: row-reverse;
}

.addevent form {
  flex: 2;
  margin-right: 50px;
}

.addevent table td {
  padding: 5px 10px;
}

/* Detail */

.detail {
  margin: 0;
}

.detail .image {
  margin-bottom: 30px;
  overflow: hidden;
  height: 0;
  padding-top: 56.25%;
  background-size: cover;
}

.detail article {
  padding-bottom: 20px;
}

.detail .note {
  margin-bottom: 0;
}

.detail .share .group {
  margin: 20px 0;
}

.detail .share .group label {
  margin-bottom: 5px;
}

.detail .share .group #permalink {
  margin-right: 0;
}

.detail .share .group #permalink + button {
  width: 50px;
}

.featherlight title.featherlight-inner {
  display: none;
}

.featherlight main.featherlight-inner {
  display: flex;
}

.featherlight div.featherlight-content {
  margin: 0;
  border: none;
  max-height: 100vh;
  max-width: 1400px;
}

/* Media queries */

@media only screen and (max-width: 1000px) {

main > form, main > section, main > article {
  margin-right: 0;
}

.explore article {
  width: 50%;
}

.calendar {
  padding: 30px 25px;
}

.calendar table td {
  padding: 5px 10px;
}

.addevent {
  flex-direction: column;
}

.addevent form {
  margin-right: 0;
}

.detail {
  flex-direction: column;
}

}

@media only screen and (max-width: 600px) {

.formgroup {
  flex-direction: column;
  justify-content: start;
}

.formgroup .row:first-child {
  margin-right: 0;
  margin-bottom: 10px;
}

main {
  padding: 30px 25px;
}

header nav {
  flex-direction: column;
  font-size: 18px;
  font-weight: 700;
}

header nav .item {
  margin-right: 25px;
  text-align: right;
}

aside nav a {
  line-height: 40px;
}

.explore article {
  width: 100%;
}

.calendar {
  padding: 0;
}

.calendar table td {
  padding: 0 5px;
}

.addevent table td {
  display: block;
  width: 100%;
  padding: 5px 0;
}

.detail .formgroup {
  flex-direction: row;
  justify-content: stretch;
}

}