/* Web fonts */

@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/firasans-regular-webfont.woff2') format('woff2'), url('fonts/firasans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('fonts/barlowcondensed-medium-webfont.woff2') format('woff2'), url('fonts/barlowcondensed-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* Box sizing rules */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Set default padding */
ul, ol {
  padding-left: 0px;
}

/* Remove default margin */
body, h1, h2, h3, h4, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

:root {
  --green: #5ea318;
  --red: #a31818;
  --white: #fff;
  --background: #f1f1f1;
  --lightgray: #ddd;
  --mediumgray: #c3c3c3;
  --darkgray: #333;
  --foreground: #181818;
}

/* Set core body defaults */

body {
  min-width: 350px;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: var(--background);
  color: var(--foreground);
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  padding: 50px;
  width: 50%;
}

.wrapper .column:last-child {
  background: #fff;
  padding-top: 30px;
  margin-right: 50px;
}

.logo {
  max-height: 90px;
  margin-bottom: 50px;
}

p {
  margin: 10px 0;
}

a {
  color: var(--green);
  text-decoration: none;
  display: inline-block;
}

a:hover, a:focus {
  color: var(--foreground);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  overflow-wrap: anywhere;
  margin: 20px 0;
}

h3 {
  text-transform: uppercase;
  font-size: 18px;
}

li {
  display: block;
  list-style: none;
  border-bottom: 1px solid var(--lightgray);
}

li a {
  display: block;
  padding: 0 15px;
  line-height: 40px;
}

li a:hover, li a:focus {
  color: var(--white);
  background-color: var(--green);
  background-image: url('img/icons/arrow-right-line.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

ul li:last-child {
  border-bottom: none;
}

@media only screen and (max-width: 1000px) {

.wrapper {
  flex-direction: column;
}

.column {
  width: 100%;
  max-width: 500px;
  padding: 50px;
}

.wrapper .column:last-child {
  margin-right: 0;
}

}
