---
- name: Create wp-config.php
  include_role:
    name: wordpress/lib/wp-cli
  vars:
    args:
      - config
      - create
      - --dbname={{ db_name }}
      - --dbuser={{ db_user }}
      - --dbpass={{ db_password }}
  when: first_time_wordpress_setup

- name: WordPress core install
  include_role:
    name: wordpress/lib/wp-cli
  vars:
    args:
      - core
      - install
      - --url={{ http_prefix }}://{{ domain }}
      - --title={{ page_title }}
      - --title={{ page_title }}
      - --admin_user=admin
      - --admin_password={{ admin_password }}
      - --admin_email={{ admin_email }}

- name: Set subtitle
  include_role:
    name: wordpress/lib/set_option
  vars:
    option: blogdescription
    value: "{{ page_subtitle }}"
  when: page_subtitle is defined

- name: Activate gruenes-brett theme
  include_role:
    name: wordpress/lib/wp-cli
  vars:
    args:
      - theme
      - activate
      - gruenes-brett

- name: Activate community-calendar plugin
  include_role:
    name: wordpress/lib/wp-cli
  vars:
    args:
      - plugin
      - activate
      - community-calendar
